#h1{
    font-size: 70px;
    font-style: italic;
}
button{
    border:double red 1px;
    border-radius: 20%;
    padding: 20px;
}
button:hover{
    border-color: black;
    background-color: red;
    color: white;
}
body{
    align-content: center;
    text-align: center;
}